.container_resume {
    align-items: end;
    justify-content: center;
}

.react-pdf__Page {
    @media screen and (min-width: 1080px) {
        margin-left: 300px;
    }
    min-width : 100%;
    max-width : 75%;
}

@media screen and (max-width: 991px) {
    .resume-quote {
        margin-top: 50px;
    }
}