.container_resume {
    align-items: end;
    justify-content: center;
}

.react-pdf__Page {
    min-width : 100%;
    max-width : 1000px;
}

@media screen and (max-width: 991px) {
    .resume-quote {
        margin-top: 50px;
    }
}